---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Marc Tremsal" description="About Marc Tremsal">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="I'm a product & GTM advisor for devtools, infra, and security startups. I build B2B products for engineers, and I build teams that build products."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Marc Tremsal at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						So far: 4x product launches & 2x exits.
					</p>
					<p>
						Previously grew <a href="https://testcontainers.com/">Testcontainers</a> at @AtomicJarInc (acquired by @Docker), and led the Cloud Security business from 0 to 1 @datadoghq (IPO).
					</p>
					<p>
						Outside of work, I’m a cheese enthusiast, a mediocre sim racer, and a lazy marathoner-in-training.
					</p>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>
<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>

