---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Great talks, books, and courses" description="A curated list of talks, books, and courses that have influenced me.">
	<main>
		<div class="wrapper">
			<div class="content">
				<h2>[A] key talks</h2>

				<h3>How to do impactful work</h3>
				<ul>
					<li>
						<a href="http://www.cs.virginia.edu/~robins/YouAndYourResearch.html">You and Your Research, 1986</a>
						by <b>Richard Hamming</b>
					</li>
					<li>
						<a href="https://paulgraham.com/greatwork.html">How To Do Great Work, 2023</a>
						by <b>Paul Graham</b>
					</li>
				</ul>

				<h2>[B] insightful technical books</h2>

				<h3>Hardware &amp; OS</h3>
				<ul>
					<li>
						<a href="https://nostarch.com/howlinuxworks3">How Linux Works, 3rd Edition</a>
						by <b>Brian Ward</b> at <b>no starch press</b>
					</li>
					<li>
						<a href="https://nostarch.com/foundationsofcomp">The Secret Life of Programs</a>
						by <b>Jonathan E. Steinhart</b> at <b>no starch press</b>
					</li>
				</ul>

				<h3>Erlang &amp; Elixir</h3>
				<ul>
					<li>
						<a href="https://www.manning.com/books/elixir-in-action">Elixir in Action</a>
						by <b> Saša Jurić </b> at <b>manning</b>
					</li>
				</ul>

				<h3>Non-CS Engineering</h3>
				<ul>
					<li>
						<a href="https://www.amazon.com/Structures-Things-Dont-Fall-Down/dp/0306812835">Structures</a>
						by <b> J.E. Gordon </b> at <b>hachette books</b>
					</li>
				</ul>

				<h2>[C] useful courses</h2>

				<h3>Elixir</h3>
				<ul>
					<li>
						<a href="https://pragmaticstudio.com/courses/elixir">Elixir &amp; OTP</a>
						by <b>The Pragmatic Studio</b>
					</li>
					<li>
						<a href="https://pragmaticstudio.com/courses/phoenix-liveview-pro">Phoenix LiveView (pro)</a>
						by <b>The Pragmatic Studio</b>
					</li>
				</ul>

				<h3>Python</h3>
				<ul>
					<li>
						<a href="https://www.udacity.com/course/introduction-to-python--ud1110">Programming Foundations with Python</a>
						by <b>Udacity</b>
					</li>
				</ul>

				<h3>Data Science</h3>
				<ul>
					<li>
						<a href="https://www.udacity.com/course/intro-to-data-analysis--ud170">Intro to Data Analysis</a>
						by <b>Udacity</b>
					</li>
					<li>
						<a href="https://www.udacity.com/course/intro-to-descriptive-statistics--ud827">Intro to Descriptive Statistics</a>
						by <b>Udacity</b>
					</li>
					<li>
						<a href="https://www.udacity.com/course/intro-to-inferential-statistics--ud201">Intro to Inferential Statistics</a>
						by <b>Udacity</b>
					</li>
					<li>
						<a href="https://www.udacity.com/course/intro-to-tensorflow-for-deep-learning--ud187">Deep Learning</a>
						by <b>Udacity</b>
					</li>
				</ul>

				<h3>Front-End</h3>
				<ul>
					<li>
						<a href="https://www.udacity.com/course/intro-to-html-and-css--ud001">
							Intro to HTML and CSS
						</a>
						by <b>Udacity</b>
					</li>
					<li>
						<a href="https://www.udacity.com/course/responsive-web-design-fundamentals--ud893">
							Responsive Web Design Fundamentals
						</a>
						by <b>Udacity</b>
					</li>
				</ul>
			</div>
		</div>
	</main>
</BaseLayout>
<style>
	main {
		width: 720px;
		max-width: calc(100% - 2rem);
		margin: auto;
	}
</style>