---
// Component Imports
// Page section components
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Marc Tremsal"
					tagline="I'm a product & GTM advisor for devtools, infra, and security startups. I build B2B products for engineers, and I build teams that build products."
					align="start"
				>
					<div class="roles">
						<p>So far: 4x product launches & 2x exits.</p>
						<p>
							Previously grew <a href="https://testcontainers.com/">Testcontainers</a> at @AtomicJarInc (acquired by @Docker), and led the Cloud Security business from 0 to 1 @datadoghq (IPO).
						</p>
						<p>
							Outside of work, I’m a cheese enthusiast, a mediocre sim racer, and a lazy marathoner-in-training.
						</p>
						<p>This website is where I dump my notes and thoughts. Contact me:</p>
					</div>
				</Hero>

				<img
					alt="Marc Tremsal's profile picture"
					width="480"
					height="480"
					src="/assets/portrait.jpg"
				/>
			</header>
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<div class="gallery">
					<Grid variant="offset">
						<li><a href="https://docs.google.com/document/d/1dtT4J5uKAjPYkO1FjU5uBp4XX3Na8mYZ8DRL-vR_I8A/edit">B2B product management for engineers</a></li>
						<li><a href="/atomicjar/">Why I'm so excited about AtomicJar</a></li>
						<li><a href="/books/">Great talks, books, and courses</a></li>
						<li><a href="https://news.ycombinator.com/item?id=32512576">My dead simple Pi-hole setup for travel</a></li>
						<li><a href="/sourdough/">(in French) Sourdough bread making 101</a></li>
					</Grid>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>
<style>
	.hero img {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}
</style>
