---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="(in French) Sourdough bread making 101" description="(in French) Sourdough bread making 101">
	<main>
		<div class="wrapper">
			<div class="content-wide">
				<p>
					<i>(in French) These are basic instructions for my parents to bake sourdough bread.</i>
				</p>
				<hr />
				<p>
					Bonjour maman et papa, voici quelques conseils si l&#39;envie vous prend de
					faire du pain avec le levain que je vous ai laissé ! Mes explications sont
					assez détaillées pour que vous puissiez y revenir plus tard, mais pour
					commencer vous pouvez lire en diagonale en sautant les sections
					<b>[bonus]</b> et réussir votre première miche sans trop de préparation.
					Amusez-vous bien ! Bises, --Marc
				</p>
				<h2 id="nourrir-et-utiliser-le-levain">Nourrir et utiliser le levain</h2>
				<h3 id="nourrir-le-levain">Nourrir le levain</h3>
				<p>
					Le levain peut être conservé au frigo pour une semaine, ou à température
					ambiante pour 24h. Quand il commence à avoir faim, il développe des notes
					d&#39;acidité puis même d&#39;alcool. Pour garder le levain en vie, il suffit
					de régulièrement lui apporter de quoi se nourrir. Cela consiste à vider le pot
					pour ne garder qu&#39;un fond (entre 20g et 50g), ajouter farine et eau en
					quantités égales (100g de farine et 80-100g d&#39;eau), puis mélanger avec une
					fourchette.
				</p>
				<p>
					<b>[bonus]</b> Il est préférable d&#39;utiliser toujours la même farine pour
					nourrir le levain. La farine Francine bio T55 que j&#39;utilise absorbe assez
					peu, donc je vous conseille de viser plutôt 80g que 100g d&#39;eau.
				</p>
				<h3 id="utiliser-le-levain">Utiliser le levain</h3>
				<p>
					Lorsque vous souhaitez utiliser le levain, pensez à le nourrir 12 ou 24h en
					avance et à le laisser sur le comptoir (vous pouvez garder le pot fermé). Le
					levain est à son pic d&#39;activité lorsqu&#39;il a triplé de taille et avant
					qu&#39;il retombe. Cela dit, vous pouvez l&#39;utiliser en peu avant ou après.
					Un test simple pour savoir s&#39;il est utilisable est d&#39;en verser un peu
					dans un verre d&#39;eau et vérifier qu&#39;il flotte.
				</p>
				<h2 id="faire-du-pain">Faire du pain</h2>
				<p>
					Faire son propre pain au levain est relativement simple et demande peu
					d&#39;effort. En revanche, c&#39;est un processus dynamique donc il s&#39;agit
					plus d&#39;apprendre à comprendre le processus, que de suivre une recette. Les
					toutes premieres miches sont généralement un décevantes, mais les progrès sont
					très rapides. Voici les grandes étapes, sur la base de mes essais dans votre
					cuisine, et construit autour de 2 moments clés : T0 pour le pétrissage et T1
					pour l&#39;enfournement.
				</p>
				<h3 id="pr-paration-t0-15mn-">Préparation (T0 - 15mn)</h3>
				<p>
					Les recettes sont généralement données en &#34;pourcentages de
					boulanger&#34;, qui se mesurent par rapport au poids total de farine. Par
					exemple:
				</p>
				<ul>
					<li>
						500g de farine - T150 bio pour un pain complet, T65 ou T80 bio pour un pain
						blanc
					</li>
					<li>335g (67%) d&#39;eau - à température ambiante</li>
					<li>10g (2%) de sel - soit une grosse cuillère à soupe</li>
					<li>100g (20%) de levain - soit une grosse moitié du pot</li>
				</ul>
				<p>
					<b>[bonus]</b> Le pain est très sensible à la quantité d&#39;eau. Chaque
					farine boit différemment, et quoiqu&#39;un pain avec une hydration élevée
					donne généralement une mie plus aérée, une pate mouillée est beaucoup plus
					difficile à manipuler. Au début, mieux vaut rester plus proche de 60%
					d&#39;hydration que 75%. Avec la farine bio T150, 67% semble un bon compromis.
				</p>
				<p>
					<b>[bonus]</b> Le pain n&#39;est pas sensible à la quantité de levain mais
					plus de levain accélère la fermentation et diminue les durées indiquées. Par
					ailleurs un levain vieux transmet son acidité au pain; chacun a sa préférence
					en la matière.
				</p>
				<p>
					<b>[bonus]</b> L&#39;autre ingrédient non-indiqué mais très important est la
					température, surtout celle de la pièce et aussi celle de l&#39;eau. Les durées
					indiquées plus bas sont basées sur des températures de 35 degrés en
					Méditerranée. En hiver, tout prendra beaucoup plus longtemps.
				</p>
				<h3 id="p-trissage-t0-">Pétrissage (T0)</h3>
				<p>
					La façon la plus simple (efficace mais pas traditionnelle) de mélanger sans un
					mixeur électrique est de :
				</p>
				<ol>
					<li>mesurer la farine dans un bol et l&#39;eau dans l&#39;autre</li>
					<li>dissoudre le sel dans l&#39;eau</li>
					<li>dissoudre le levain dans l&#39;eau</li>
					<li>verser le liquide dans la farine</li>
					<li>
						mélanger avec une fourchette jusqu&#39;à ce que l&#39;eau soit absorbée et
						qu&#39;aucune farine sèche ne reste au fond du bol
					</li>
					<li>couvrir le bol avec un tissu ou une assiette</li>
				</ol>
				<p>
					<b>[bonus]</b> À ce stade, la pâte a souvent l&#39;air assez sèche voire
					friable; c&#39;est complètement normal. Il ne faut pas trop travailler la pâte
					: il lui faut désormais 30 minutes seule (&#34;l&#39;autolyse&#34;), le bol
					couvert avec une assiette ou un tissu, pour que les enzymes commencent à agir.
				</p>
				<h3 id="pointage-ou-1-re-fermentation-entre-t0-30mn-t0-90mn-">
					Pointage ou 1ère fermentation (entre T0 + 30mn à T0 + 90mn)
				</h3>
				<p>
					Dans les premières 90 minutes de la fermentation, il est préférable de donner
					de la force et de la structure à la pâte pour qu&#39;elle contienne mieux le
					gaz de la fermentation et produise donc une mie plus légère. Une technique
					simple consiste à faire des 3 ou 4 séries de 4 plis, avec chaque série espacée
					de 20 à 30 minutes.
				</p>
				<p>Pour une série :</p>
				<ol>
					<li>
						se mouiller légèrement la main dominante (pour éviter que la pate colle)
					</li>
					<li>tenir le bol avec l&#39;autre main</li>
					<li>
						avec la main dominante, attraper un quart de la pate, tirer vers le haut
						pour étendre la pate jusqu&#39;à son point de résistance mais sans la
						déchirer, puis rabattre par dessus le reste de la pate
					</li>
					<li>tourner le bol de 180 degrés puis répéter l&#39;étape 3</li>
					<li>tourner le bol de 90 degrés puis répéter les étapes 3 et 4</li>
				</ol>
				<p>
					<b>[bonus]</b> En gros, il s&#39;agit de faire 4 plis, un par coté de la pate,
					et à chaque fois d&#39;étirer un quart et le rabattre par-dessus le reste.
					Idéalement, au bout de 3 ou 4 séries, on obtient une boule qui garde sa forme
					et plus un blob qui s&#39;enfonce dans le bol. Il ne faut pas hésiter à se
					remouiller les doigts si la pate commence à coller. On devient meilleur avec
					la pratique.
				</p>
				<h3 id="pes-e-et-fa-onnage-t0-2h-">Pesée et Façonnage (T0 + 2h)</h3>
				<p>
					Nous allons donner sa forme finale a la boule ! Pour cette séquence, nous ne
					pouvons pas nous mouiller les mains donc nous allons mettre de la farine sur
					le plan de travail ainsi que su un petit bol pour pouvoir facilement en
					remettre sur la pate et nos mains si ça commence à coller.
				</p>
				<p>
					Si nous avons fait beaucoup de pate (1kg de farine au lieu de 500g) il faut
					d&#39;abord la couper puis former chaque pâton un par un :
				</p>
				<ol>
					<li>saupoudrer de la farine dans le banneton (bol couvert de tissu)</li>
					<li>
						verser délicatement la pate du bol vers le plan de travail enfariné, en
						évitant de la déchirer.
					</li>
					<li>former une boule avec la technique des plis utilisée lors du pointage</li>
					<li>
						retourner la boule pour placer la &#34;jointure&#34; en dessous, et la
						surface lisse au dessus
					</li>
					<li>
						en plaçant les doigts assez bas derrière la boule, la tirer sur le plan de
						travail sur quelques centimètres pour donner de la tension à sa surface
					</li>
					<li>
						tourner la boule de 90 degrés puis recommencer l&#39;étape précédente 3 ou 4
						fois
					</li>
					<li>déposer la boule dans le banneton, avec la jointure en bas</li>
					<li>couvrir le banneton avec un tissu ou une assiette</li>
				</ol>
				<p>
					<b>[bonus]</b> Si sortir la pâte du bol est difficile, verser de la farine le
					long des bords aide pas mal pour éviter qu&#39;elle se recolle. Une spatule
					arrondie en silicone est très utile.
				</p>
				<p>
					<b>[bonus]</b> Cette étape se fait normalement sur un plan de travail en métal
					ou marbre, et avec une lame à pain plutôt que ses mains. À Leucate, c&#39;est
					faisable avec le dos de la planche à couper en bois et des mains enfarinées
					mais ça reste assez galère.
				</p>
				<p>
					<b>[bonus]</b> Cette étape peut être la source de quelques frustrations car il
					faut être délicat pour éviter de perdre la structure et le gaz déjà générés.
					En termes de timing, la pâte a commencé à grossir et on peut voir des bulles à
					travers le bol, mais il reste suffisamment de carburant pour qu&#39;elle
					gonfle beaucoup plus après être formée.
				</p>
				<p>
					<b>[bonus]</b> Acheter un banneton est une bonne idée, mais un bol couvert
					d&#39;un tissu en coton ou en lin fonctionne parfaitement. Pour les premières
					utilisations, il vaut mieux saupoudrer des quantités importantes de farine;
					par la suite on peut y aller plus léger.
				</p>
				<h3 id="appr-t-ou-2-me-fermentation-t0-3h-5h-">
					Apprêt ou 2ème fermentation (T0 + 3h ? 5h ?)
				</h3>
				<p>
					Une fois façonnée, la boule est prête pour sa cuisson lorsqu&#39;elle a
					idéalement doublé voire triplé de taille. Le test le plus fiable pour savoir
					si la boule est prête pour sa cuisson consiste à mouiller légèrement un doigt,
					pousser la surface de la boule d&#39;1 cm, et regarder sa réaction :
				</p>
				<ul>
					<li>
						si la pate rebondit vite et complètement, il lui faut encore du temps pour
						fermenter
					</li>
					<li>
						si la pate rebondit lentement mais pas complètement, elle est prête a cuire
					</li>
					<li>
						si la pate ne reprend plus sa forme, elle est trop fermentée et il faut la
						faire cuire en urgence.
					</li>
				</ul>
				<p>
					<b>[bonus]</b> En fonction de quand on souhaite cuire le pain, il est possible
					de garder le banneton sur le comptoir pour la 2ème fermentation, ou de le
					mettre au frigo couvert de cellophane et de cuire le pain (directement, sans
					le réchauffer) le lendemain matin. Le froid retarde la fermentation et aide à
					développer des saveurs plus complexes. La boule sèche légèrement et devient
					plus simple à manipuler. Il n&#39;y a presque que des points positifs. :)
				</p>
				<h3 id="scarification-cuisson-et-d-fournement-entre-t1-40mn-et-t1-65mn-">
					Scarification, cuisson, et défournement (entre T1 - 40mn et T1 + 65mn)
				</h3>
				<ol>
					<li>
						<b>T1 - 40mn</b> allumer le four électrique à 260 degrés Celsius et placer
						la cocotte à l&#39;intérieur pour la préchauffer. Dans un four normal, ce
						serait plutôt 30 minutes à 245 degrés, mais le four électrique galère par
						mal.
					</li>
					<li>
						<b>T1</b> enfourner :
						<ul>
							<li>sortir la cocotte du four et retirer le couvercle</li>
							<li>
								placer une feuille de papier sulfurisé sur le banneton puis le retourner
							</li>
							<li>
								(optionnel) inscrire une grigne avec une lame sur le dos de la boule
							</li>
							<li>placer le papier sulfurisé et la boule dans la cocotte</li>
							<li>replacer le couvercle et remettre au four</li>
						</ul>
					</li>
					<li>
						<b>T1 + 30mn</b> ouvrir le four et retirer le couvercle (idéalement le pain
						a beaucoup grossi et a ouvert le long de sa grigne)
					</li>
					<li>
						<b>T1 + 55-60mn</b> lorsque le pain a de belles couleurs sombres, éteindre
						le four et entrouvrir la porte
					</li>
					<li>
						<b>T1 + 65mn</b> retirer la cocotte du four et défourner le pain sur une
						grille pour le laisser refroidir à température ambiante au moins 30 minutes
					</li>
				</ol>
				<p>
					<b>[bonus]</b> Il est important de ne pas couper le pain pour au moins 30
					minutes après sa sortie du four, car cette phase de &#34;ressuage&#34; est
					celle où la croute durcit et la mie évacue sa vapeur d&#39;eau, ce qui la rend
					légère.
				</p>
				<p>
					Voilà ! Le pain est prêt à déguster. Une partie du plaisir consiste à prendre
					quelques notes (ingrédients, températures, durées, etc.) pour essayer de
					s&#39;améliorer à chaque tentative. Le pain est certes délicieux, mais le
					rituel est aussi très satisfaisant. Bon voyage ! :)
				</p>
			</div>
		</div>
	</main>
</BaseLayout>
<style>
	main {
		width: 720px;
		max-width: calc(100% - 2rem);
		margin: auto;
	}
</style>